

<FONT SIZE="10" FACE="courier" COLOR=red><MARQUEE WIDTH=100% BEHAVIOR=ALTERNATE >ContactUs</MARQUEE></FONT>
<FONT SIZE="6" FACE="courier" COLOR=black>


<marquee style="position: relative;" behavior="scroll" align="right" direction="up" scrollamount="2" scrolldelay="5" onmouseover="this.stop()" onmouseout="this.start()" height="800"><br>

<address>
<br />
<a href="mailto:us@example.org">Email us</a><br />
Address: Reg:Sedin Technologies Private Limited<br />

# 38/39 - 3rd Floor, Whites Road Circular Building,<br />

White's Road, Royapettah<br />

Chennai,<br /> TN,<br /> India - 600014<br />

Email: karthick@railsfactory.com
<br />
Phone: 9489113765
</address>

</FONT>

</marquee>


